@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,700;1,400&display=swap");
/* Обнуляющий стиль */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  height: 100%;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

/* ================================================================ */
body {
  background-color: #414040;
  font-family: 'Mulish', sans-serif;
}

h2 {
  color: wheat;
}

.period {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #eef0ff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
  border-radius: 8px;
  margin-bottom: 50px;
}

.period__day-input {
  max-width: 40px;
  border-radius: 7px;
  outline: none;
  padding: 0 8px;
  height: 20px;
}

.period__result {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30px;
          flex: 0 1 30px;
  background-color: #dddff1;
  padding: 5px;
  border-radius: 8px;
}

.period__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.period__row div {
  font-weight: 700;
  text-align: center;
}

.period__row ul {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  gap: 15px;
}

.period__row ul :nth-child(odd) {
  background-color: #eef0ff;
}

.period__row ul li {
  width: 100%;
  height: 100%;
  text-align: center;
}

.period__average {
  text-align: center;
  margin-top: 20px;
  font-weight: 700;
}

.add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #eef0ff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
  border-radius: 8px;
}

.add__day-input {
  max-width: 40px;
  border-radius: 7px;
  outline: none;
  padding: 0 8px;
  height: 20px;
}

.add__minutes-input {
  max-width: 40px;
  border-radius: 7px;
  outline: none;
  padding: 0 8px;
  height: 20px;
}
