@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,700;1,400&display=swap');
@import "null.scss";

@mixin shortInput {
   max-width: 40px;
   border-radius: 7px;
   outline: none;
   padding: 0 8px;
   height: 20px;
}

body {
   background-color: rgb(65, 64, 64);
   font-family: 'Mulish', sans-serif;
}



h2 {
   color: wheat;
}

.period {
   display: flex;
   background-color: rgb(238, 240, 255);
   flex-direction: column;
   flex-wrap: wrap;
   padding: 10px;
   gap: 10px;
   border-radius: 8px;
   margin-bottom: 50px;
   // .period__day

   &__day {}

   // .period__label

   &__label {}

   // .period__day-input

   &__day-input {
      @include shortInput();
   }


   // .period__month

   &__month {}

   // .period__month-input

   &__month-input {}

   // .period__month-item

   &__month-item {}

   // .period__result

   &__result {
      flex: 0 1 30px;
      background-color: rgb(221, 223, 241);
      padding: 5px;
      border-radius: 8px;
   }

   // .period__result-hours

   &__row {

      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      div {
         font-weight: 700;
         text-align: center;
      }



      ul {

         margin-top: 20px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         font-weight: 400;
         gap: 15px;

         :nth-child(odd) {
            background-color: rgb(238, 240, 255);
         }

         li {
            width: 100%;
            height: 100%;
            text-align: center;
         }
      }

   }

   &__average {
      text-align: center;
      padding: 8px 0;
      font-weight: 700;
   }
}

.add {
   display: flex;
   background-color: rgb(238, 240, 255);
   flex-direction: column;
   flex-wrap: wrap;
   padding: 10px;
   gap: 10px;
   border-radius: 8px;
   // .add__day

   &__day {}

   // .add__day-label

   &__day-label {}

   // .add__day-input

   &__day-input {
      min-width: 60px;
      @include shortInput();
   }

   // .add__month

   &__month {}

   // .add__month-label

   &__month-label {}

   // .add__month-input

   &__month-input {}

   // .add__month-item

   &__month-item {}

   &__button {}

   &__minutes-input {
      @include shortInput();
   }

}

.hide {
   display: none;
}